In [1]:
import pandas as pd
import pickle

In [32]:
import csv

In [16]:
a3= pd.read_pickle('kospi_nas_100.pkl')

In [12]:
b1 = a1.append(a2)

In [19]:
b2[b2['sum']>120]

,kospi,nasdaq,ge(0),le(0),eq(0),sum,ge(0)-ratio,le(0)-ratio,eq(0)-ratio
64,007700,ECOL,99,51,19,131,0.755725,0.389313,0.145038
65,007700,BSET,99,51,19,131,0.755725,0.389313,0.145038
79,105560,UBSI,99,37,5,131,0.755725,0.282443,0.038168
0,025000,SPWH,99,50,18,131,0.755725,0.381679,0.137405
3,000040,RMCF,54,99,22,131,0.412214,0.755725,0.167939
17,017670,PDEX,100,40,9,131,0.763359,0.305344,0.068702
25,005610,TMKRU,95,52,21,126,0.753968,0.412698,0.166667

In [18]:
b2 = b1.append(a3)

In [37]:
nas = pd.read_csv('nasdaq.csv')

In [27]:
!dir nasdaq.csv

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: C629-8F59

 C:\Users\user\Downloads 디렉터리

2021-07-26  오후 01:06           255,775 nasdaq.csv
               1개 파일             255,775 바이트
               0개 디렉터리  33,439,989,760 바이트 남음

In [44]:
nas[nas['Symbol'].str.fullmatch('PDEX')]

      Unnamed: 0 Symbol         Name      Industry  IndustryCode
3196        3196   PDEX  Pro-Dex Inc  헬스케어 장비 및 용품      561010.0

In [43]:
kos[kos['Symbol'].str.fullmatch('017670')]

,Unnamed: 0,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1794,1879,017670,KOSPI,SK텔레콤,전기 통신업,"이동전화,무선호출서비스,부가통신",1989-11-07,12월,박정호,http://www.sktelecom.com,서울특별시

In [57]:
dict1 = dict(kos[['Symbol', 'Name']].values)

In [58]:
b1['kospi'].map(dict1)

0       AJ네트웍스
1        AK홀딩스
2       BGF리테일
3       BGF리테일
4          BYC
        ...
182        SKC
183        SKC
184       SK가스
185     SK네트웍스
186    SK디스커버리
Name: kospi, Length: 280, dtype: object

In [59]:
b1.head()

,kospi,kos-name,nasdaq,ge(0),le(0),eq(0),sum,ge(0)-ratio,le(0)-ratio,eq(0)-ratio
0,095570,095570,DTOC,18,8,3,23,0.782609,0.347826,0.130435
1,006840,006840,AGBAU,2,6,1,7,0.285714,0.857143,0.142857
2,282330,282330,BRPAU,2,9,0,11,0.181818,0.818182,0.000000
3,282330,282330,CPTA,5,14,2,17,0.294118,0.823529,0.117647
4,001460,001460,AGBAU,2,6,1,7,0.285714,0.857143,0.142857

In [60]:
b1['kos-name'] = b1['kospi'].map(dict1)

In [61]:
b1

,kospi,kos-name,nasdaq,ge(0),le(0),eq(0),sum,ge(0)-ratio,le(0)-ratio,eq(0)-ratio
0,095570,AJ네트웍스,DTOC,18,8,3,23,0.782609,0.347826,0.130435
1,006840,AK홀딩스,AGBAU,2,6,1,7,0.285714,0.857143,0.142857
2,282330,BGF리테일,BRPAU,2,9,0,11,0.181818,0.818182,0.000000
3,282330,BGF리테일,CPTA,5,14,2,17,0.294118,0.823529,0.117647
4,001460,BYC,AGBAU,2,6,1,7,0.285714,0.857143,0.142857
...,...,...,...,...,...,...,...,...,...,...
182,011790,SKC,BMEA,47,20,5,62,0.758065,0.322581,0.080645
183,011790,SKC,KAII,18,33,7,44,0.409091,0.750000,0.159091
184,018670,SK가스,CLCT,18,8,2,24,0.750000,0.333333,0.083333
185,001740,SK네트웍스,VMACU,47,23,10,60,0.783333,0.383333,0.166667
186,006120,SK디스커버리,AGBAU,2,6,1,7,0.285714,0.857143,0.142857

In [62]:
b1.insert(2,'MMM', b1['kospi'].map(dict1))

In [63]:
b1

,kospi,kos-name,MMM,nasdaq,ge(0),le(0),eq(0),sum,ge(0)-ratio,le(0)-ratio,eq(0)-ratio
0,095570,AJ네트웍스,AJ네트웍스,DTOC,18,8,3,23,0.782609,0.347826,0.130435
1,006840,AK홀딩스,AK홀딩스,AGBAU,2,6,1,7,0.285714,0.857143,0.142857
2,282330,BGF리테일,BGF리테일,BRPAU,2,9,0,11,0.181818,0.818182,0.000000
3,282330,BGF리테일,BGF리테일,CPTA,5,14,2,17,0.294118,0.823529,0.117647
4,001460,BYC,BYC,AGBAU,2,6,1,7,0.285714,0.857143,0.142857
...,...,...,...,...,...,...,...,...,...,...,...
182,011790,SKC,SKC,BMEA,47,20,5,62,0.758065,0.322581,0.080645
183,011790,SKC,SKC,KAII,18,33,7,44,0.409091,0.750000,0.159091
184,018670,SK가스,SK가스,CLCT,18,8,2,24,0.750000,0.333333,0.083333
185,001740,SK네트웍스,SK네트웍스,VMACU,47,23,10,60,0.783333,0.383333,0.166667
186,006120,SK디스커버리,SK디스커버리,AGBAU,2,6,1,7,0.285714,0.857143,0.142857